form {
    input {
        width: 100%;
        min-width: 0;
        margin-bottom: 8px;
        border: none;
        border-bottom: 1px solid #888;
        padding: .5rem;
        padding-bottom: 2px;
        text-align: right;
        font-size: 1.2rem;
    }

    button[type=submit] {
        float: right;
        padding: .5rem 1rem;
        background-color: #222;
        color: #ddd;
        border: none;
        margin-top: 8px;
        cursor: pointer;
    }

    .error-msg {
        color: #d00;
        padding: 1rem 1rem 1rem 0;
    }
}
