form.auth-form {
  border: 1px solid var(--accent-color);
  padding: 1rem;
  max-width: 600px;
  width: 100%;
  
  .h1 {
    margin-bottom: 1rem;
  }

  input {
    display: block;
    width: 100%;
    padding: .25rem;
    font-size: 1.1rem;

    margin-bottom: .5rem;
  }

  a {
    float: right;
  }

}
