{% include 'document.twig' %}
{% include '@common/header.twig' %}
<main>

<h1>Login</h1>
<form action="{{ url.api('/auth/login.php') }}" method="post">
    <input type="text" name="email" />
    <input type="password" name="password" />
    <input type="submit" value="Login">
</form>
<a href="{{ url.to('/auth/register.php') }}">Register instead</a>

</main>
{% include '@common/footer.twig' %}
{% include 'html-end.twig' %}
