{% include 'document.twig' %}
{% include '@common/header.twig' %}
<main data-x-align="center" data-y-align="center">

<form
    action="{{ url.api('/auth/register.php') }}"
    method="post"
    class="auth-form"
>
    <h1>Register</h1>
    <input type="text" name="email" />
    <input type="password" name="password" />
    <input type="submit" value="Login">

    {% include '@errors/error.twig' %}
    <a href="{{ url.to('/auth/login.php') }}">Login instead</a>
</form>

</main>
{% include '@common/footer.twig' %}
{% include 'html-end.twig' %}
