{% include 'document.twig' %}

{% include '@common/header.twig' %}

<h1>Register</h1>
<form action="{{ url.api('/auth/register.php') }}" method="post">
    <input type="text" name="email" />
    <input type="password" name="password" />
    <input type="submit" value="Login">
</form>
<a href="{{ url.to('/auth/login.php') }}">Login instead</a>

{% include 'html-end.twig' %}
{% include '@common/footer.twig' %}
