{#{% include '../page-structure/header.twig' %}#}
<body>
<div id="blog-content">
    {% for post in posts %}
        {% include '../post-card.twig' with {'post': post} only %}
    {% endfor %}
</div>
</body>
