{% include 'document.twig' %}
{% include '@common/header.twig' %}
<main data-page="/page" data-x-align="center">

{% if page is null %}
    {% include '@errors/404.twig' with {
        description: 'Page not found',
        createEndpoint: url.to('/admin/page/new.php?p=' ~ slug)
    } %}
{% else %}
    <div id="html-content">
        {{ page.markdown.htmlContent | raw }}
    </div>

    {% if user.isAdmin %}
        <div class="floating-buttons-wrapper">
            {% include '@components/inputs/floating-button.twig' with {
                target: url.to('/admin/page/edit.php?p=' ~ page.slug),
                child: 'Edit'
            } only %}
            {% include '@components/inputs/floating-button.twig' with {
                target: url.api('/admin/page/delete.php?p=' ~ page.slug),
                child: 'Delete'
            } only %}
        </div>
    {% endif %}

{% endif %}

</main>
{% include '@common/footer.twig' %}
{% include 'html-end.twig' %}
