{% include 'document.twig' %}
{% include '@common/header.twig' %}
<main>

{% for post in blog.posts %}
    <a href="{{ post.endpoint }}" class="post">
        <h3>{{ post.title }}</h3>
        <p>{{ post.markdown.description }}...</p>
    </a>
{% endfor %}

</main>
{% include '@common/footer.twig' %}
{% include 'html-end.twig' %}
