{% include 'document.twig' %}
{% include '@common/header.twig' %}
<main>

{% for post in blog.posts %}
    <a href="{{ post.endpoint }}" class="post">
        <h3>{{ post.title }}</h3>
        <p>{{ post.markdown.description }}...</p>
    </a>
{% endfor %}

{% if user.isAdmin %}
    <div class="floating-buttons-wrapper">
        {% include '@components/inputs/floating-button.twig' with {
            target: url.to('/admin/page/new.php'),
            child: 'New'
        } only %}
    </div>
{% endif %}

</main>
{% include '@common/footer.twig' %}
{% include 'html-end.twig' %}
