.header {
    color: #222;
    background-color: #fff;
    padding: 1rem;
    border-bottom: 1px solid currentColor;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 99;

    &[data-theme="dark"] {
        color: #fff;
        background-color: #222;

        & .content-wrapper {
            .menu-open-btn {
                span {
                    background-color: #fff;
                }
            }
        }
    }

    & .content-wrapper {
        max-width: 700px;
        margin: 0 auto;
        display: flex;
        align-items: center;

        .menu-open-btn {
            height: 22px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: none;
            outline: 0 none;
            background: transparent;
            cursor: pointer;
            opacity: 1;
            transition: opacity .6s ease;
            margin-right: 1.5rem;
    
            &:disabled {
                opacity: 0;
            }
    
            span {
                display: block;
                width: 30px;
                height: 3px;
                background-color: #222;
            }
        }

        h1 {
            @import url(https://fonts.googleapis.com/css?family=Rock+Salt&display=swap);
            font-family: 'Rock Salt', cursive;
            font-weight: 100;
            font-size: 1.7rem;
            margin: -1.25rem 0;

            a {
                text-decoration: none;
            }
        }
    }
}
