.settings-category {
  border: 1px solid var(--accent-color);
  border-radius: 6px;
  padding: .5rem;
  margin: .5rem;
  flex-grow: 1;

  h2 {
    margin-bottom: .7rem;
  }

  table {
    td {
      padding: .2rem .5rem;
    }
    overflow-x: scroll;
  }
}
