{% include 'document.twig' %}
{% include '@common/header.twig' %}
<main data-page="/admin/calendar">
    <h2 class="h1">Upcoming Events:</h2>
    <div id="calendar">
        {% include '@components/calendar/calendar.twig' %}
    </div>

    <div class="floating-buttons-wrapper">
        {% include '@components/inputs/floating-button.twig' with {
            target: url.to('/admin/calendar/new.php'),
            child: 'New'
        } only %}
    </div>
</main>
{% include '@common/footer.twig' %}
{% include 'html-end.twig' %}
