{% include 'document.twig' %}
{% include '@common/header.twig' %}
<main>

    <ul>
        <li><a href="{{ url.to('/admin/settings.php') }}">Settings</a></li>
        <li><a href="{{ url.to('/admin/file/upload.php') }}">Upload file</a></li>
    </ul>

</main>
{% include '@common/footer.twig' %}
{% include 'html-end.twig' %}
