{% include 'document.twig' %}
{% include '@common/header.twig' %}
<main>

<div>
    <a href="{{ url.to('/admin/settings.php') }}">Settings</a>
</div>

</main>
{% include '@common/footer.twig' %}
{% include 'html-end.twig' %}
