{% include 'document.twig' %}

{% include '@common/header.twig' %}

<div>
    <a href="{{ url.to('/admin/settings.php') }}">Settings</a>
</div>
<div>
    <a href="{{ url.to('/admin/page/new.php') }}">New page</a>
</div>

{% include 'html-end.twig' %}
{% include '@common/footer.twig' %}
