<header class="expanded">
    ::before
    <div id="nav-container">
        <h2>{{ APP }}</h2>
        <nav>
            <ul>
                {% for link in links %}
                    <li>
                        <a href={{ link.url }}>{{ link.name }} </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>
