footer {
  background-color: var(--footer-bg-color);
  color: var(--footer-font-color);
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;

  #links {
    padding: .4em 1em;
    font-size: .9rem;
  }

  #about-jasper-lichte {
    background-color: rgb(60, 10, 10);
    padding: .4rem 0;
    text-align: right;
    text-shadow: 0 0 5px rgba(0, 0, 0, .4);
    font-size: .8rem;
    color: #aaaaaa;
    width: 100%;
    display: flex;
    justify-content: center;

    .content {
      padding-top: 0;
      padding-bottom: 0;
    }

    a {
      font-size: 1.4em;
      margin: 0 .25em;
      color: #ffffff;
      text-decoration: none;
    }

    @media screen and (max-width: 480px) {
      text-align: center;
    }
  }
}
