footer {
  background-color: var(--footer-bg-color);
  color: var(--footer-font-color);
  text-align: center;
  border-top: 1px solid var(--accent-color);

  #links {
    padding: .4em 1em;
    font-size: .9rem;
  }

  #about-jasper-lichte {
    background-color: rgb(60, 10, 10);
    padding: .4rem 1rem;
    text-align: right;
    text-shadow: 0 0 5px rgba(0, 0, 0, .4);
    font-size: .8rem;
    color: #aaaaaa;

    a {
      font-size: 1.4em;
      margin: 0 .25em;
      color: #ffffff;
      text-decoration: none;
    }
  }
}
