header {
  background-color: var(--header-bg-color);
  color: var(--header-font-color);
  display: flex;
  justify-content: center;

  &.banner-image {
    padding: 0;

    .content {
      padding: 0;
      display: flex;
      justify-content: center;

      &[data-pos=left] {
        justify-content: flex-start;
      }
      &[data-pos=center] {
        justify-content: center;
      }
      &[data-pos=right] {
        justify-content: flex-end;
      }

      & img {
        width: 100%;
        max-width: var(--header-banner-image-width);
        height: auto;
      }
    }

    &[data-fullscreen="yes"] {
      .content {
        max-width: none;
        width: 100vw;
        height: 100vh;

        & img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          max-width: none;
        }
      }
    }
  }
}
