main {
  flex-grow: 1;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--content-bg-color);

  &[data-x-align=left] {
    align-items: flex-start;
  }
  &[data-x-align=center] {
    align-items: center;
  }
  &[data-x-align=right] {
    align-items: flex-end;
  }

  &[data-y-align=top] {
    justify-content: flex-start;
  }
  &[data-y-align=center] {
    justify-content: center;
  }
  &[data-y-align=bottom] {
    justify-content: flex-end;
  }
  &[data-y-align=unset] {
    justify-content: unset;
  }
}

@import './pages/pages.scss';
