<footer>
    <p>Content management system delievered by <span>Jasper Lichte</span></p>

    {% if user is null %}
        <a href="{{ url.to('/auth/login.php') }}">Login</a>
    {% else %}
        {{ user.email }}
        <a href="{{ url.api('/auth/logout.php') }}">Logout</a>
    {% endif %}

    {% if user.isAdmin %}
        <a href="{{ url.to('/admin') }}">Dashboard</a>
    {% endif %}
</footer>
