{% if settings.get('SHOW_HEADER') == 'yes' %}

    {% if settings.get('HEADER_BANNER_URL') == '' %}
        <header>
            <div class="content">
                <h1><a href="{{ url.to('/') }}">{{ settings.get('APP_NAME') }}</a></h1>
            </div>
        </header>
    {% else %}
        <header class="banner-image" data-pos="{{ settings.get('HEADER_IMG_BANNER_POS') }}">
            <div class="content">
                <img src="{{ settings.get('HEADER_BANNER_URL') }}" alt="">
            </div>
        </header>
    {% endif %}

{% endif %}
