<div class="settings-category" data-category="{{ category.id }}">
    <h2>{{ category.title }}</h2>
    <div>
        {% include '@components/admin/settings-form.twig' with {category: category} %}
    </div>
</div>