@import './page.scss';
@import './admin/admin.scss';

main[data-page="/admin/page/new"],
main[data-page="/admin/page/edit"] {
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;

    h3 {
      padding: .5rem 0 0 0;
      
      a {
        font-size: .7em;
      }
    }

    textarea, input[type=text] {
      padding: .5rem;
    }

    textarea {
      height: 400px;
      resize: none;
      flex-grow: 1;
    }

  }
}

main[data-page="/admin/settings"] {
  flex-direction: row;
}

main[data-page="/"] {
  .post {
    border: 1px solid var(--accent-color);
    border-radius: 6px;
    padding: .5rem;
    text-decoration: none;
    transition: .4s ease;
    display: block;
    width: 100%;

    h3 {
      margin-bottom: .4rem;
    }

    p {
      text-align: justify;
    }

    &:hover {
      filter: hue-rotate(180deg);
      transform: translateX(12px);
    }
  }
}
