{% include 'document.twig' %}
{% include '@common/header.twig' %}
<main>

<form action="{{ url.api('/admin/page/new.php') }}" method="post">
    <input type="text" name="title" title="Title" />

    <textarea name="content" title="Content"></textarea>

    {% if slug is not null %}
        <input type="hidden" name="p" value="{{ slug }}" />
    {% endif %}
    <input type="submit" value="Save" />
</form>

</main>
{% include '@common/footer.twig' %}
{% include 'html-end.twig' %}
