{% include 'document.twig' %}
{% include '@common/header.twig' %}
<main data-page="admin/page/new" data-x-align="center">

<form action="{{ url.api('/admin/page/new.php') }}" method="post">
    {% include '@errors/error.twig' %}

    <h3 data-required="1">Title</h3>
    <input type="text" name="title" title="Title" />

    <h3 data-required="1">Markdown <a href="{{ url.to('/guides/markdown.php') }}">(Guide)</a></h3>
    <textarea name="content" title="Content"></textarea>

    {% if slug is not null %}
        <input type="hidden" name="p" value="{{ slug }}" />
    {% endif %}
    <input type="submit" value="Save" />
</form>

</main>
{% include '@common/footer.twig' %}
{% include 'html-end.twig' %}
