html {
  --body-bg-color: #ffffff;
  --content-bg-color: #ffffff;

  --header-bg-color: #ffffff;
  --footer-bg-color: #ffffff;

  --accent-color: #992216;

  --font-color: #222222;
  --header-font-color: #222222;
  --footer-font-color: #222222;
}
