html {
  --body-bg-color: #ffffff;
  --header-bg-color: #222222;
  --header-font-color: #eeeeee;
  --footer-bg-color: #222222;
  --footer-font-color: #eeeeee;
  --font-color: #222222;
  --accent-color: goldenrod;
}
