<div class="error err404">
    <p class="h1">404</p>

    {% if description %}
        <p>{{ description }}</p>
    {% endif %}

    {% if user.isAdmin %}
        <div class="floating-buttons-wrapper">
            {% include '@components/inputs/floating-button.twig' with {
                target: createEndpoint,
                child: 'Create'
            } only %}
        </div>
    {% endif %}
</div>
