body {
  background-color: var(--body-bg-color);
  color: var(--font-color);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-size: 1rem;

  &[data-sticky-header="enabled"] {
    max-height: 100vh;
    main {
      overflow-y: scroll;
    }
  }

  @import './modules/header.scss';
  @import './modules/main.scss';
  @import './modules/footer.scss';
}
